<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <!-- main section -->
    <%- body %> 
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
