<div class="row">
  <!-- Display success message if available -->
  <% if (successMessage && successMessage.length > 0) { %>
  <div class="alert alert-success mt-2" role="alert"><%= successMessage %></div>
  <% } %>

  <!-- Display error message if available -->
  <% if (errorMessage && errorMessage.length > 0) { %>
  <div class="alert alert-danger mt-2" role="alert"><%= errorMessage %></div>
  <% } %>
  <div class="container mt-5 d-flex align-items-center justify-content-center">
    <div
      class="card d-flex align-items-center justify-content-center"
      style="width: 500px"
    >
      <h2 class="py-3">Update Password</h2>
      <form
        action="/admin/password/update/<%= detaildata.id %>"
        method="post"
        style="width: 80%"
      >
        <div class="form-group">
          <label for="">Current password</label>
          <input
            type="password"
            class="form-control pb-3"
            name="currentPassword"
            id="currentPassword"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            id="togglePassword1"
            style="position: absolute; top: 33%; right: 8%"
          >
            <i class="fa fa-eye"></i>
          </button>
        </div>
        <div class="form-group">
          <label for="">New Password</label>
          <input
            type="password"
            class="form-control pb-3"
            name="newPassword"
            id="newPassword"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            id="togglePassword2"
            style="position: absolute; bottom: 20.5%; right: 8%"
          >
            <i class="fa fa-eye"></i>
          </button>
        </div>

        <button type="submit" class="btn btn-info mb-3">Update Password</button>
      </form>
    </div>
  </div>
</div>

<script>
  // Get the password input field and toggle button
  const togglePassword1 = document.getElementById("togglePassword1");
  const togglePassword2 = document.getElementById("togglePassword2");
  const passwordField1 = document.getElementById("currentPassword");
  const passwordField2 = document.getElementById("newPassword");

  togglePassword1.addEventListener("click", function () {
    // Toggle the type attribute to show/hide password
    const type = passwordField1.type === "password" ? "text" : "password";
    passwordField1.type = type;

    // Toggle the eye icon
    this.innerHTML =
      type === "password"
        ? '<i class="fa fa-eye"></i>' // Show password icon
        : '<i class="fa fa-eye-slash"></i>'; // Hide password icon
  });
  togglePassword2.addEventListener("click", function () {
    // Toggle the type attribute to show/hide password
    const type = passwordField2.type === "password" ? "text" : "password";
    passwordField2.type = type;

    // Toggle the eye icon
    this.innerHTML =
      type === "password"
        ? '<i class="fa fa-eye"></i>' // Show password icon
        : '<i class="fa fa-eye-slash"></i>'; // Hide password icon
  });
</script>
